$textColor: #21201F;
$footerTextColor: #C5C5C5;
$btnColor: #FFDE40;
$yellowShadow: rgba(255, 222, 64, 0.59);
$priceNew: #2E2C21;
$priceOld: #808080;
$purple: #E0B8FF;
$blue: #B6B9FF;
$bgColor: #FFF;
$whiteTransparent63: rgba(255, 255, 255, 0.63);
$radialGradient: radial-gradient(141.42% 141.42% at 100.00% -0.00%, $purple 0%, $blue 100%);
$sizes: (
  "xs": 376px,
  "sm": 576px,
  "md": 900px,
  "lg": 1200px,
  "xl": 1440px
);